body, html {
	background-color: white;
	font: Arial;
	font-size: 25px;
  }

.column1666 {
	width: 16.66%;
}

.navigation-button {
	background-color: lightgray;
	height: 100px;
}

.row {
	grid-row: 1 / span 2;
}