body, html {
	background-color: white;
	font-size: 25px;
}

td {
	border: 1px solid black;
	padding: 8px;
}

.column1666 {
	width: 14.29%;
}

.column1250 {
	width: 11.11%;
}

.column2500 {
	width: 25.00%;
}

.column3333 {
	width: 33.33%;
}

.column1666 {
	width: 14.29%;
}

.navigation-button {
	background-color: lightgray;
	height: 100px;
}

.row {
	grid-row: 1 / span 2;
}